<h3 class="ui header">{{t "forms.i-i-s-anya-dodelat-табель-смены-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-anya-dodelat-табель-смены-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-anya-dodelat-табель-смены-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.началоСмены
      class=(if (v-get validationModel "началоСмены" "isInvalid") "error")
      label=(t "forms.i-i-s-anya-dodelat-табель-смены-e.началоСмены-caption")
      data-test-i-i-s-anya-dodelat-табель-смены-e-началоСмены=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "началоСмены" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.конецСмены
      class=(if (v-get validationModel "конецСмены" "isInvalid") "error")
      label=(t "forms.i-i-s-anya-dodelat-табель-смены-e.конецСмены-caption")
      data-test-i-i-s-anya-dodelat-табель-смены-e-конецСмены=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "конецСмены" "message")}}
  </div>
  <div class="field" data-test-i-i-s-anya-dodelat-табель-смены-e-типЗанятости="true">
    <label>{{t "forms.i-i-s-anya-dodelat-табель-смены-e.типЗанятости-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-anya-dodelat-тип-занятости")
      value=model.типЗанятости
      class=(if (v-get validationModel "типЗанятости" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типЗанятости" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-anya-dodelat-табель-смены-e.сотрудник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудник
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудник"
      projection="сотрудникL"
      title=(t "forms.i-i-s-anya-dodelat-табель-смены-e.сотрудник-caption")
      readonly=readonly
      componentName="сотрудникLookup"
      class=(if (v-get validationModel "сотрудник" "isInvalid") "error")
      data-test-i-i-s-anya-dodelat-табель-смены-e-сотрудник=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудник" "message")}}
  </div>
</form>
